<div class="container">
  <div calss="row">
    <%= render 'recipes/recipe_error_messages', recipe: @recipe %>
    <h4>レシピの編集</h4>
    <%= render 'recipes/recipe_form', recipe: @recipe %>
  </div>
</div>