<div class="container">
  <div class="row">
    <%= render 'recipes/recipe_error_messages', recipe: @recipe %>
    <h3>レシピを書く</h3>
  </div>
    <%= render 'recipes/recipe_form', recipe: @recipe %>
</div>